@import 'fonts.scss';

$veryDarkBlue: #1F3F68;
$blue: #5A98D0;
$darkBlue: #316099;
$hoverColor: #84B4DE;

@mixin font-style($family, $size, $weight, $line-height, $color, $letter-spacing) {
  font: {
    family: $family;
    size: $size;
    weight: $weight;
  }
  line-height: $line-height;
  color: $color;
  letter-spacing: $letter-spacing;
}

@mixin default-container-horizontal-margin {
  margin: 0 15%;

  @media screen and (max-width: 768px) {
    margin: 0 10%;
  }
}

html, body {
  height: 100%;
  margin: 0;
}

#linear-gradient-wrapper {
  height: 100%;
  background: linear-gradient(0deg, rgba(152, 195, 232, 0.2) 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.header {
  margin: 40px 6% 0 6%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#logo-with-link {
  width: 48px;
  height: 48px;
  cursor:pointer;
}

#menu-icon {
  width: 32px;
  height: 32px;
  cursor:pointer;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.6;
    transition: opacity 0.2s;
  }
}

.button {
  width: 220px;
  height: 56px;
  border-radius: 10px;
  border: none;
  background-color: $blue;
  transition: background-color 0.2s;
  cursor: pointer;
  @include font-style(Gilroy, 16px, normal, 26px, white, 0.04em);

  &:hover {
    background-color: $hoverColor;
    transition: background-color 0.2s;
  }
}

#home-wrapper {
  z-index: 0;
  @include default-container-horizontal-margin;

  .button {
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  }
}

#illustration {
  position: absolute;
  top: 100px;
  right: 23px;
  width: 50%;
  z-index: -1;
}

#title {
  @include font-style(Galien, 64px, bold, 74px, $veryDarkBlue, 0.04em);
  width: 55%;
  margin-top: 100px;
  margin-bottom: 32px;
}

#subtitle {
  @include font-style(Gilroy, 16px, normal, 26px, $veryDarkBlue, 0.05em);
  opacity: 0.6;
  width: 45%;
  margin-bottom: 71px;
}

.what-we-do-wrapper {
  @include default-container-horizontal-margin;
  margin-top: 180px;
  margin-bottom: 112px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__column {
    margin-left: 10%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.card {
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  width: 100%;
  position: relative;
  margin-bottom: 100px;
  transition: 0.5s;

  &__img{
    position: relative;
    display: block;
    margin: 0 auto;
  }

  &__info {
    padding: 0 13% 13% 13%;
  }

  &__title {
    @include font-style(Gilroy, 20px, 600, 30px, $veryDarkBlue, 0.05em);
    margin-bottom: 16px;
  }

  &__text {
    opacity: 0.6;
    @include font-style(Gilroy, 16px, normal, 26px, $veryDarkBlue, 0.05em);
  }

  &__learn-more {
    @include font-style(Gilroy, 14px, 600, 30px, $blue, 0.05em);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 32px;
    cursor: pointer;
    transition: opacity 0.2s;

    div {
      margin-right: 5%;
    }

    &:hover {
      opacity: 0.6;
      transition: opacity 0.2s;
    }
  }

  &:hover {
    transform: scale(1.1);
    transition: 0.5s;
  }
}

#card__img-1 {
  top: -20px;
  margin-bottom: 31px;
}

#card__img-2 {
  margin: 51px auto;
  left: -20px;
}

#card__img-3 {
  margin: 51px auto;
  left: -15px;
}

#blue-bg-wrapper {
  background-color: $blue;
  border-radius: 200px 0px 0px 0px;
}

#dark-blue-bg-wrapper {
  background-color: $darkBlue;
  border-radius: 0px 200px 0px 0px;
  margin-right: 6%;
  padding-bottom: 70px;
}

#our-client-wrapper {
  @include default-container-horizontal-margin;
  padding: 96px 0;
}

#contact-us-wrapper {
  @include default-container-horizontal-margin;
  padding: 100px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.section-title {
  width: 38%;
  @include font-style(Gilroy, 36px, 600, 46px, black, 0.05em);

  &.dark {
    color: $darkBlue;
    position: absolute;
  }

  &.light {
    color: white;
  }
}

.section-subtitle {
  @include font-style(Gilroy, 16px, normal, 26px, white, 0.05em);
  opacity: 0.6;
}

.section-info {
  display: flex;
  width: 100%;

  &.row {
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .section-title {
      width: 24%;
      margin-right: 10%;
    }

    .section-subtitle {
      width: 55%;
      margin-right: 10%;
    }
  }

  &.column {
    display: flex;
    flex-direction: column;
    width: 50%;

    .section-title {
      width: 80%;
      margin-bottom: 32px;
    }
  }
}

#clients-logos-table {
  width: 100%;
  border-collapse: collapse;
  border-style: hidden;

  td {
    @include font-style(Gilroy, 20px, 600, 46px, white, 0.02em);
    text-transform: uppercase;
    border: 1px solid white;
    text-align: center;
    vertical-align: center;
    padding: 5% 0;
  }

  tr:last-child {
    td:last-child {
      background-color: rgba(31, 63, 104, 0.2);
      cursor: pointer;
      transition: 0.2s;

      div:hover {
        transform: scale(1.1);
        transition: 0.2s;
      }
    }
  }
}

.horizontal-line {
  border-top: 1px solid white;
  opacity: 0.4;
  margin-right: 15%;
}

.footer {
  @include default-container-horizontal-margin;
  margin-top: 100px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__column {
    padding: 0;
    list-style: none;
    width: 25%;

    li {
      display: flex;
      flex-direction: row;
      margin-bottom: 16px;
      transition: opacity 0.2s;

      &:first-child {
        margin-bottom: 24px;
        @include font-style(Gilroy, 20px, 600, 46px, white, 0.02em);
      }

      a {
        text-decoration: none;
        @include font-style(Gilroy, 16px, normal, 26px, white, 0.05em);

        &:hover {
          opacity: 0.8;
          transition: opacity 0.2s;
        }
      }
    }
  }
}

#footer__contacts {
  padding: 0;
  list-style: none;
  width: 35%;

  li {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    @include font-style(Gilroy, 16px, normal, 26px, white, 0.05em);

    div, img {
      font-weight: 600;
      margin-right: 15px;
    }

    &:first-child {
      margin-bottom: 24px;
      @include font-style(Gilroy, 28px, 600, 46px, white, 0.02em);
    }
  }
}

#copyright {
  @include default-container-horizontal-margin;
  @include font-style(Gilroy, 16px, normal, 26px, white, 0.05em);
  opacity: 0.4;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  #illustration {
    width: 65%;
    top: 30%;
  }

  #title {
    font-size: 55px;
    line-height: 65px;
    width: 65%;
    margin-top: 40px;
  }

  #subtitle {
    width: 65%;
    margin-bottom: 51px;
  }

  .button {
    width: 200px;
  }

  .what-we-do-wrapper {
    margin-top: 90px;

    &__column {
      margin-left: 0;
      width: 46%;
    }
  }

  .section-title {
    font-size: 30px;
    line-height: 40px;
    width: 45%;
  }

  .section-info {
    &.row {
      .section-title {
        width: 35%;
      }
    }
  }

  #clients-logos-table {
    td {
      font-size: 18px;
      line-height: 28px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  #illustration {
    width: 60%;
    top: 35%;
  }

  #title {
    font-size: 50px;
    line-height: 60px;
    width: 72%;
    margin-top: 40px;
  }

  #subtitle {
    width: 72%;
    margin-bottom: 51px;
  }

  .what-we-do-wrapper {
    margin-top: 90px;

    &__column {
      margin-left: 0;
      width: 46%;
    }
  }

  .card {
    margin-bottom: 50px;

    &__img {
      transform: scale(0.95);
    }

    &__title {
      font-size: 18px;
      line-height: 28px;
    }

    &__text {
      font-size: 16px;
      line-height: 26px;
    }

    &__learn-more {
      font-size: 14px;
    }
  }

  #card__img-1 {
    top: -30px;
    margin-bottom: 10px;
  }

  #card__img-2 {
    margin: 41px auto;
  }

  #card__img-3 {
    margin: 41px auto;
  }

  .section-title {
    font-size: 26px;
    line-height: 36px;
    width: 45%;
  }

  .section-info {
    &.row {
      .section-title {
        width: 35%;
      }
    }
  }

  #clients-logos-table {
    td {
      font-size: 16px;
      line-height: 26px;
      padding: 5% 5%;
    }
  }

  .footer {
    @include default-container-horizontal-margin;
    margin-top: 100px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__column {
      width: 20%;

      li {
        margin-bottom: 16px;

        &:first-child {
          @include font-style(Gilroy, 20px, 600, 46px, white, 0.02em);
        }

        a {
          @include font-style(Gilroy, 14px, normal, 24px, white, 0.05em);
        }
      }
    }
  }

  #footer__contacts {
    li {
      @include font-style(Gilroy, 14px, normal, 24px, white, 0.05em);

      &:first-child {
        @include font-style(Gilroy, 26px, 600, 46px, white, 0.02em);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #illustration {
    width: 70%;
    top: 45%;
  }

  #title {
    font-size: 50px;
    line-height: 60px;
    width: 80%;
    margin-top: 40px;
  }

  #subtitle {
      width: 80%;
      margin-bottom: 51px;
  }

  .what-we-do-wrapper {
    margin-top: 90px;

    &__column {
      margin-left: 0;
      width: 46%;
    }
  }

  .card {
    margin-bottom: 50px;

    &__img {
      transform: scale(0.9);
    }

    &__title {
      font-size: 16px;
      line-height: 26px;
    }

    &__text {
      font-size: 14px;
      line-height: 24px;
    }

    &__learn-more {
      font-size: 12px;
    }
  }

  #card__img-1 {
    top: -30px;
    margin-bottom: 10px;
  }

  #card__img-2 {
    margin: 41px auto;
  }

  #card__img-3 {
    margin: 41px auto;
  }

  .section-title {
    font-size: 26px;
    line-height: 36px;
    width: 50%;
  }

  .section-subtitle {
    font-size: 14px;
    line-height: 24px;
  }

  .section-info {
    &.row {
      .section-title {
        width: 30%;
      }
    }
  }

  #clients-logos-table {
    td {
      font-size: 16px;
      line-height: 26px;
      padding: 5% 5%;
    }
  }

  .footer {
    @include default-container-horizontal-margin;
    margin-top: 100px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__column {
      width: 20%;

      li {
        margin-bottom: 16px;

        &:first-child {
          @include font-style(Gilroy, 20px, 600, 46px, white, 0.02em);
        }

        a {
          @include font-style(Gilroy, 14px, normal, 24px, white, 0.05em);
        }
      }
    }
  }

  #footer__contacts {
    li {
      @include font-style(Gilroy, 14px, normal, 24px, white, 0.05em);

      &:first-child {
        @include font-style(Gilroy, 26px, 600, 46px, white, 0.02em);
      }
    }
  }
}

@media screen and (max-width: 675px) {
  #illustration {
    width: 75%;
    right: 10px;
    top: 52%;
  }

  #title {
    font-size: 42px;
    line-height: 42px;
    width: 100%;
  }

  #subtitle {
    width: 100%;
  }

  .what-we-do-wrapper {
    margin-top: 50px;
    flex-direction: column;

    &__column {
      margin: 0 auto;
      width: 90%;
    }
  }

  .section-title {
    &.dark {
      position: relative;
      width: 90%;
      text-align: center;
      margin: 0 auto 50px auto;
    }
  }

  .section-info {
    &.row {
      flex-direction: column;
      margin-bottom: 50px;

      .section-title {
        width: 80%;
        margin-right: 0;
        margin-bottom: 30px;
      }

      .section-subtitle {
        width: 80%;
        margin-right: 0;
      }
    }

    &.column {
      width: 60%;
    }
  }

  #clients-logos-table {
    width: 80%;
    margin: 0 auto;

    tr {
      float: left;
      width: 50%;

      &:first-child > * {
        border-left: hidden;
      }

      &:last-child > * {
        border-left: hidden;
        border-right: hidden;
      }
    }

    td {
      display: block;
      font-size: 16px;
      line-height: 26px;
      padding: 15%;

      @media screen and (max-width: 533px) {
        height: 52px;
        padding: 15% 20%;
      }

      &:first-child {
        border-top: hidden;
      }

      &:last-child {
        border-bottom: hidden;
      }
    }
  }

  #contact-us-wrapper {
    .button {
      width: 130px;
    }
  }

  .footer {
    @include default-container-horizontal-margin;
    margin-top: 50px;
    margin-bottom: 70px;
    display: block;

    &__column {
      float: right;
      width: 50%;

      li {
        margin-bottom: 16px;

        &:first-child {
          @include font-style(Gilroy, 20px, 600, 46px, white, 0.02em);
        }

        a {
          @include font-style(Gilroy, 14px, normal, 24px, white, 0.05em);
        }
      }
    }
  }

  #footer__contacts {
    width: 100%;

    li {
      @include font-style(Gilroy, 14px, normal, 24px, white, 0.05em);

      &:first-child {
        @include font-style(Gilroy, 26px, 600, 46px, white, 0.02em);
      }
    }
  }
}

@media screen and (max-width: 480px) {
  #illustration {
    width: 80%;
    top: 60%;
  }

  .header {
    margin-top: 20px;
  }

  #menu-icon {
    width: 24px;
    height: 24px;
  }

  #logo-with-link {
    width: 34px;
    height: 34px;
  }

  .card {
    &__img {
      transform: scale(0.8);
    }
  }

  #card__img-1 {
    top: -40px;
    //margin-left: -10px;
    margin-bottom: 10px;
  }

  #title {
    font-size: 30px;
    line-height: 40px;
    margin-top: 20px;
  }

  #subtitle {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 32px;
  }

  .button {
    width: 140px;
    height: 40px;
    font-size: 14px;
    line-height: 24px;
  }

  .section-title {
    font-size: 20px;
    line-height: 20px;
  }

  .section-info {
    &.column {
      width: 70%;
    }
  }

  #clients-logos-table {
    td {
      font-size: 14px;
      line-height: 24px;

      @media screen and (max-width: 533px) {
        height: 48px;
        padding: 15% 20%;
      }
    }
  }

  #contact-us-wrapper {
    align-items: flex-start;
    flex-direction: column;

    .button {
      margin-top: 40px;
    }
  }
}
